<div id="inquiry-form-section" class="inquiry-form-section ad-campaign-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-white inquiry-form-fields">
                <div id="inquiry-form">
                    <form id="inquiry-campain" name="contact" class="inquiry-side-main  ml-auto position-relative" accept-charset="utf-8">
                        <h5 class=" pt-2 text-center">
                            INQUIRE NOW
                        </h5>
                        <input class="form-control inquiry-input  mx-auto my-2" name="lead_name" type="text" id="campain_lead_name" placeholder="Name" autocomplete="off">
                        <input class="form-control inquiry-input  mx-auto my-2" name="company_name" type="text" id="campain_company_name" placeholder="Organization Name" autocomplete="off">
                        <input class="form-control inquiry-input  mx-auto my-2 " name="email" type="email" id="campain_email" placeholder="Email" autocomplete="off">
                       <input class="form-control inquiry-input  mx-auto my-2" data-bind="value:mobile_no" id="campain_mobile_no" name="mobile_no" min="0" required="" placeholder="Mobile No" type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15" autocomplete="off">
                        
                        <div class="text-center my-3 d-flex justify-content-around">
                            <button class="noble-btn t-orange" name="submit" type="submit" value="Send">
                                <span>Submit</span>
                            </button>
                        </div>

                        <div id="campaign_enquire_btn" class="enquire-btn d-flex">
                            <p class="pr-2  d-flex">
                                <!-- arrow -->
                                <img width="15" src="/files/inquiry-right.svg" class="pt-2 hidden" alt="Inquiry right arrow" id="rightArrow">
                                <img width="15" src="/files/inquiry-left.svg" class="pt-2 hidden active" alt="Inquiry left arrow" id="leftArrow">
                                <span class="pr-2 pl-2 pb-2">INQUIRY</span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var isOpened = false;
        $('#campaign_enquire_btn').on('click', function () {
            isOpened = true;
            if ($("#inquiry-form-section").hasClass('slide-right active')) {
                $('#inquiry-form-section').removeClass('active').toggleClass('slide-right');
            }
            else if ($("#inquiry-form-section").hasClass('active')) {
                $('#inquiry-form-section').removeClass('active');
            }
            // toggle class on click contact button
            else if ($("#inquiry-form-section").hasClass('slide-right')) {
                $('#inquiry-form-section').toggleClass('slide-right');
            }
            else {
                $('#inquiry-form-section').toggleClass('slide-right');
            }
            if ($('#inquiry-form-section').hasClass('slide-right')) {
                setTimeout(function () {
                    $('#rightArrow').removeClass('active');
                    $('#rightArrow').addClass('hidden');
                    $('#leftArrow').addClass('active');
                }, 600);
            }
            else {
                setTimeout(function () {
                    $('#leftArrow').removeClass('active');
                    $('#leftArrow').addClass('hidden');
                    $('#rightArrow').addClass('active');
                }, 600);
            }
        });
        //active form at certain height 
        $(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 1200 && !isOpened) {
                    isOpened = true;
                    $("#inquiry-form-section").addClass("slide-right");
                }
                if ($('#inquiry-form-section').hasClass('slide-right')) {
                    setTimeout(function () {
                        $('#rightArrow').removeClass('active');
                        $('#rightArrow').addClass('hidden');
                        $('#leftArrow').addClass('active');
                    })
                }
                else {
                    setTimeout(function () {
                        $('#leftArrow').removeClass('active');
                        $('#leftArrow').addClass('hidden');
                        $('#rightArrow').addClass('active');
                    })
                }
            });
        });
        $('.reset-button').on('click', () => {
            $("#inquiry :input").val('');
        })
    </script>
</div>